// Shared social links
.container-social-icons {
  display: flex;
  align-items: center;

  a {
    margin-right: 7px;

    figure {
      width: 40px;
      height: 40px;
      background-color: #f0f0f0;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 20px;
        fill: #6b6e77;

        path {
          fill: #6b6e77;
        }
      }
    }
  }
}
