.tag {
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #e0f7ff;
  font-family: $roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #05a4df;
  text-transform: uppercase;
  padding: 2px 5px;
  border-radius: 4px;
}
